# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# If you want to keep folders in git, add empty placeholder files like:
# data/raw/.gitkeep
# data/processed/.gitkeep
